# Xcode
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# macOS
.DS_Store
*.swp
*~.nib

# Temporary files
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
